# 파이썬의 탄생

In [ ]:
a = 3
b = 4
print(a+b)

- 파이썬에서는 파일화 시킬 때 반드시 print() 함수를 써줘야 함
 - ex) print(a+b) O
 - ex) a+b X

print()
 - 함수 안에 있는 내용을 출력해줌
  
예제

In [4]:
print("life" "is" "short")

lifeisshort

In [5]:
print("life", "is", "short")

life is short

In [6]:
print("life is short")

life is short

input()
- 입력값을 받음

예제

In [2]:
a = input("a 값을 입력해주세요 : ")

a 값을 입력해주세요 : 20

In [3]:
print(a)

20

In [4]:
b = input(a)

2030

In [5]:
print(b)

30

주석 예제

In [7]:
identity = "지구인" # 정체1
number_of_legs = 10 # 다리의 수
print(identity)
print(number_of_legs)
print("안녕")
#print("너는 누구니?")

지구인
10
안녕

- 한 줄 주석 처리는 # 을 사용

In [8]:
"""
주석 내용입니다.
"""
print("hello")

hello

- 여러줄 주석 처리는 """ or ''' 사용

변수 예제

In [9]:
identity = "지구인"

In [ ]:
identity = "외계인"

In [10]:
print(identity)

외계인

- 똑같은 이름의 변수에 새로운 값을 저장할 경우 변수의 값이 변경 X, 새로운 변수 생성 O
 - 기존 변수의 값을 불러 올 수는 없음

변수 생성시 특징
- 변수명의 첫문자는 영문자 또는 언더바('_')로 시작
- 예약어 사용 불가

변수 생성 특징 예제

In [43]:
1_unit = 1 # 변수명이 숫자로 시작하는 경우

SyntaxError: invalid decimal literal (Temp/ipykernel_1272/3004061797.py, line 1)

In [44]:
_unit = 1 # 변수명이 언더바로 시작하는 경우

In [45]:
@unit = 1 # 변수명이 특수문자로 시작하는 경우

SyntaxError: invalid syntax (Temp/ipykernel_1272/3948788947.py, line 1)

In [46]:
and = 1 # 변수명 예약어 사용 불가

SyntaxError: invalid syntax (Temp/ipykernel_1272/2589573702.py, line 1)

In [47]:
for = 1 # 변수명 예약어 사용 불가

SyntaxError: invalid syntax (Temp/ipykernel_1272/1069989890.py, line 1)

변수 제거 예제

In [11]:
a = 3
b = 4

In [12]:
print(a)
print(b)

3
4

In [13]:
del(a)
del(b)

In [14]:
print(a)
print(b)

NameError: name 'a' is not defined

- 변수 a 를 제거했기 때문에 print() 함수로 출력 되지 않음

파이썬 대소문자 구분 예제

In [16]:
a = "python"
print(a)

python

In [17]:
PRINT(a)

NameError: name 'PRINT' is not defined

비교 연산자 예제

In [23]:
X = 3
Y = 4
print(X < Y)
print(X > Y)

True
False

X = 3
Y = 4
Z = 5

X < Y or Z < Y<br>
true or false<br>
=> 참<br><br>
in, not in 예제

In [25]:
print(1 in [1, 2, 3])

True

In [26]:
print(1 not in [1, 2, 3])

False

In [27]:
print('a' in ('a', 'b', 'c'))

True

In [28]:
print('j' in 'python')

False

if 문 예제

In [31]:
a = 3
if a > 1:
    print("a is greater than 1")

a is greater than 1

In [32]:
a = 0
if a > 1:
    print("a is greater than 1")

- 조건문이 참일 경우에만 하위 코드 실행

for문 예제

In [34]:
for apple in [1, 2, 3]:
    print(apple)

1
2
3

while문 예제

In [37]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit + 1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [38]:
treeHit = 1
while treeHit <= 10:
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다.")
    treeHit = treeHit + 1

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [40]:
TreeHit = 0
TreeBranch = 10
print("나무가지가 %d개 남았습니다." % TreeBranch)
while TreeHit < 10:
    TreeHit = TreeHit + 1
    TreeBranch = TreeBranch - 1
    print("나무를 %d번 찍었습니다." % TreeHit)
    print("나무가지가 %d개 남았습니다." % TreeBranch)
    if TreeHit == 10:
        print("Success")
    if TreeBranch == 0:
        print("Success")

나무가지가 10개 남았습니다.
나무를 1번 찍었습니다.
나무가지가 9개 남았습니다.
나무를 2번 찍었습니다.
나무가지가 8개 남았습니다.
나무를 3번 찍었습니다.
나무가지가 7개 남았습니다.
나무를 4번 찍었습니다.
나무가지가 6개 남았습니다.
나무를 5번 찍었습니다.
나무가지가 5개 남았습니다.
나무를 6번 찍었습니다.
나무가지가 4개 남았습니다.
나무를 7번 찍었습니다.
나무가지가 3개 남았습니다.
나무를 8번 찍었습니다.
나무가지가 2개 남았습니다.
나무를 9번 찍었습니다.
나무가지가 1개 남았습니다.
나무를 10번 찍었습니다.
나무가지가 0개 남았습니다.
Success
Success

- for문은 리스트, 튜플, 문자열과 함께 쓰이는 반복문
- while문은 조건문과 함께 쓰이는 반복문

함수
- 함수는 인자를 입력받아 결과를 도출하는 목적으로 사용
- 사용자가 편리하게 사용하기 위해 만드는 목적도 있음

함수 만들기 예제

In [41]:
def add(a, b):
    return a + b

In [42]:
add(3, 4)

7

파이썬이 객체 지향이라고 부르는 이유?

In [52]:
a = 10
print(id(a)) # a 변수 메모리 주소 확인

2264535231056

In [53]:
b = 10
print(id(b)) # b 변수 메모리 주소 확인

2264535231056

# 자료형

정수
- 정수는 int로 나타냄
- 파이썬 정수의 크기는 32bit(=4byte)

정수 확인 예제

In [54]:
a = 123

In [55]:
print(type(a))

<class 'int'>

In [56]:
print((9).bit_length())

4

부동소수점(실수)
- 부동소수점(실수)은 float으로 나타냄

부동소수점(실수) 확인 예제

In [57]:
b = -1.23

In [58]:
print(type(b))

<class 'float'>

2진수 확인 예제

In [60]:
print(bin(255))

0b11111111

8진수 확인 예제

In [61]:
print(oct(255))

0o377

16진수 확인 예제

In [62]:
print(hex(255))

0xff

사칙연산 예제

In [64]:
a = 3
b = 4

In [66]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)

7
-1
12
0.75

x의 y제곱을 나타내는 ** 연산자

In [67]:
a = 3
b = 4

In [68]:
print(a**b)

81

나눗셈 후 몫을 반환하는 // 연산자

In [69]:
a = 7
b = 3

In [70]:
print(a//b)

2

나눗셈 후 나머지를 반환하는 % 연산자

In [72]:
a = 7
b = 3

In [73]:
print(a%b)

1

**33page 6번째 줄 글자 깨짐 -> 문자열끼리**

문자열 자체를 표현할 때 ', " 따옴표와 큰따옴표는 차이점 없음(사용자 마음)<br>

문자열에 큰따옴표(") 포함시키기 예제

In [90]:
say = ""Python is very easy." he says"

SyntaxError: invalid syntax (Temp/ipykernel_1272/3819334516.py, line 1)

In [76]:
say2 = '"Python is very easy." he says'
print(say2)

"Python is very easy." he says

In [89]:
say3 = "\"Python is very easy.\" he says"
print(say3)

"Python is very easy." he says

특수 기호 표기 예제

In [82]:
money = "10000\"

SyntaxError: EOL while scanning string literal (Temp/ipykernel_1272/3501535323.py, line 1)

In [83]:
money = "10000\\"
print(money)

10000\

- 특수 기호의 역할을 하지 못하게 하고 싶을 때 ￦ 를 앞에 붙여줌

여러 줄인 문자열을 변수에 대입하고 싶은 경우

1. 줄을 바꾸기 위한 이스케이프 문자 사용

In [84]:
multiline = "Life is short\nYou need python"

In [85]:
print(multiline)

Life is short
You need python

- 읽기가 불편하고 줄이 길어지는 단점 존재

2. 연속된 작은 따옴표 세 개(''') or 큰 따옴표 세 개(""") 사용

In [86]:
multiline="""
Life is short
You need python
"""

In [87]:
print(multiline)

Life is short
You need python

문자열 합치기 예제

In [91]:
head = "Python"
tail = " is fun!"
print(head + tail)

Python is fun!

문자열 곱하기 예제

In [92]:
a = "Python"
print(a*2)

PythonPython

문자열 곱하기 응용 예제

In [94]:
print("=" * 30)
print("My Program")
print("=" * 30)

==============================
My Program
==============================

문자열 길이 구하기 예제

In [96]:
a = "Life is too short"
print(len(a))

17

문자열 인덱싱 예제

In [97]:
a = "Life is too short, You need Python"

In [98]:
print(a[10])

o

In [99]:
print(a[-10])

e

문자열 슬라이싱 예제

In [100]:
a = "Life is too short, You need Python"

In [101]:
print(a[0:4])

Life

In [102]:
print(a[:4])

Life

In [103]:
print(a[10:])

o short, You need Python

a = "Pithon" -> "Python" 예제

In [104]:
a = "Pithon"

In [105]:
a[1] = "y"

TypeError: 'str' object does not support item assignment

In [108]:
a[:1] + "y" + a[2:]

'Python'

문자열 포매팅 예제

1. 숫자 바로 대입

In [109]:
print("I eat %d apples" % 3)

I eat 3 apples

2. 문자열 바로 대입

In [110]:
print("I eat %s apples" % "three")

I eat three apples

3. 숫자 값을 나타내는 변수로 대입

In [113]:
number = 3
print("I eat %d apples" % number)

I eat 3 apples

4. 2개 이상의 값을 대입

In [114]:
number = 3
day = "three"
print("I eat %d apples, so I was sick for %s days" % (number, day))

I eat 3 apples, so I was sick for three days

%d와 %를 같이 사용하는 예제

In [117]:
print("Error is %d%%" % 98)

Error is 98%

**33page 3번째 줄 글자 깨짐 -> "**<br>
**33page 5번째 줄 글자 깨짐 -> 소숫점**

정렬과 공백 예제

In [119]:
print("%s" %"hi")

hi

In [120]:
print("%10s" %"hi")

        hi

In [121]:
print("%-10s" %"hi")

hi

소수점 표현하기 예제

In [122]:
print("%f" % 3.42134234)

3.421342

In [123]:
print("%0.4f" % 3.42134234)

3.4213

In [124]:
print("%10.4f" % 3.42134234)

    3.4213

format() 함수를 이용한 포매팅 예제

In [125]:
print("{} {} {}".format(11, 22, 33))

11 22 33

In [127]:
number = 3
day = "three"
print("I eat {1} apples, so I was sick for {0} days".format(number, day))

I eat three apples, so I was sick for 3 days

- 순서를 이용하여 포매팅 가능

In [128]:
print("I eat {number} apples, so I was sick for {day} days".format(number=10, day=3))

I eat 10 apples, so I was sick for 3 days

- 변수 이름을 이용하여 포매팅 가능

f문자열 포매팅 예제

In [130]:
name = "홍길동"
age = 19
print(f'나의 이름은 {name}입니다. 나이는 {age}입니다.')

나의 이름은 홍길동입니다. 나이는 19입니다.

In [131]:
name = "홍길동"
age = 19
print(f'나의 이름은 {name}입니다. 나이는 {age+1}입니다.')

나의 이름은 홍길동입니다. 나이는 20입니다.

문자열 갯수 세기 예제(count)

In [132]:
a = "hobby"
print(a.count("b"))

2

문자 위치 알려주기 예제 1(find)

In [135]:
a = "Python is the best choice"
print(a.find("b"))

14

In [136]:
a = "Python is the best choice"
print(a.find("j"))

-1

- 문자열 중 문자 b가 처음 나온 위치를 반환, 찾는 문자나 문자열이 없을 경우 -1 을 반환

문자 위치 알려주기 예제 2(index)

In [137]:
a = "Life is too short"
print(a.index("t"))

8

In [138]:
a = "Life is too short"
print(a.index("j"))

ValueError: substring not found

- 문자열 중 문자 t가 처음 나온 위치를 반환, 찾는 문자나 문자열이 없을 경우 에러를 반환

문자열 삽입 예제(join)

In [139]:
a = ","
print(a.join("abcd"))

a,b,c,d

In [140]:
a = ":"
print(a.join(["a", "b", "c", "d"]))

a:b:c:d

- join() 함수의 입력으로 리스트 사용 가능

소문자를 대문자로 바꾸기 예제(upper)

In [141]:
a = "hi"
print(a.upper())

HI

대문자를 소문자로 바꾸기 예제(lower)

In [142]:
a = "HI"
print(a.lower())

hi

왼쪽 공백 지우기 예제(lstrip)

In [143]:
a = " hi "
print(a.lstrip())

hi

오른쪽 공백 지우기 예제(rstrip)

In [144]:
a = " hi "
print(a.rstrip())

 hi

**44page 1번째 줄 글자 깨짐 -> 문자열**

양쪽 공백 지우기 예제(strip)

In [146]:
a = " hi "
print(a.strip())

hi

문자열 바꾸기 예제(replace)

In [147]:
a = "Life is too short"
print(a.replace("Life", "Your leg"))

Your leg is too short

문자열 나누기 예제(split)

In [148]:
a = "Life is too short"
print(a.split())

['Life', 'is', 'too', 'short']

In [149]:
b = "a:b:c:d"
print(b.split(":"))

['a', 'b', 'c', 'd']

- split() 함수는 괄호 안에 아무것도 넣어 주지 않을 경우 공백을 기준으로 나눔
- split() 함수의 괄호 안에 특정 값이 있는 경우 특정 값을 기준으로 나눔