리스트
- 여러 요소값을 담을 수 있는 자료형
- \[\](대괄호)를 이용하여 생성

리스트 생성 예제

In [1]:
a = [1, 2, 3]

In [2]:
print(a)

[1, 2, 3]

리스트 인덱싱 예제

In [3]:
a = [1, 2, 3]

In [4]:
print(a[0])

1

In [6]:
print(a[0] + a[2])

4

In [7]:
print(a[-1])

3

In [18]:
b = ['Life', 'is', 'too', 'short']

In [19]:
print(b[0] + b[1])

Life12

In [10]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [11]:
print(a[0])

1

In [12]:
print(a[-1])

['a', 'b', 'c']

In [13]:
print(a[3])

['a', 'b', 'c']

In [20]:
print(a[-1][0])

a

In [21]:
print(a[-1][1])

b

In [22]:
print(a[-1][2])

c

In [28]:
a = [1, 2, ['a', 'b', ['life', 'is']]]

In [31]:
print(a[2])

['a', 'b', ['life', 'is']]

In [25]:
print(a[2][2])

['life', 'is']

In [26]:
print(a[2][2][0])

life

리스트 슬라이싱 예제

In [32]:
a = [1, 2, 3, 4, 5]

In [33]:
a[0:2]

[1, 2]

In [34]:
b = a[:2]

In [35]:
print(b)

[1, 2]

In [36]:
c = a[2:]

In [37]:
print(c)

[3, 4, 5]

In [38]:
a = [1, 2, 3, ['a', 'b', 'c'],4 ,5]

In [39]:
print(a[2:5])

[3, ['a', 'b', 'c'], 4]

In [40]:
print(a[3])

['a', 'b', 'c']

In [41]:
print(a[3][:2])

['a', 'b']

리스트 합치기 예제

In [74]:
a = [1, 2, 3]
b = [4, 5, 6]

In [75]:
print(a + b)

[1, 2, 3, 4, 5, 6]

In [76]:
print(a)

[1, 2, 3]

리스트 반복 예제

In [44]:
a = [1, 2, 3]

In [46]:
print(a * 2)

[1, 2, 3, 1, 2, 3]

list 요소 수정 예제

In [48]:
a = [1, 2, 3]

In [49]:
print(a[2])

3

In [50]:
a[2] = 4

In [51]:
print(a)

[1, 2, 4]

In [52]:
a[1:2] = ['a', 'b', 'c']

In [53]:
print(a)

[1, 'a', 'b', 'c', 4]

In [54]:
a[0] = ['a1', 'a2', 'a3']

In [55]:
print(a)

[['a1', 'a2', 'a3'], 'a', 'b', 'c', 4]

리스트 요소 제거 예제
- 위의 a 리스트를 그대로 활용

In [63]:
print(a)

[['a1', 'a2', 'a3'], 'a', 'b', 'c', 4]

In [64]:
a[1:3] = []

In [65]:
print(a)

[['a1', 'a2', 'a3'], 'c', 4]

In [66]:
del a[1]

In [67]:
print(a)

[['a1', 'a2', 'a3'], 4]

In [68]:
del a[0:2]

In [69]:
print(a)

[]

질문) 리스트에서 [:2], [0:2] 차이
- [:2] 은 0이 생략된 것

리스트 관련 함수

리스트 요소 추가 예제

In [79]:
a = [1, 2, 3]

In [80]:
a.append(4)

In [81]:
print(a)

[1, 2, 3, 4]

In [82]:
a.append([5, 6])

In [83]:
print(a)

[1, 2, 3, 4, [5, 6]]

리스트 정렬 예제

In [84]:
a = [1, 4, 3, 2]

In [86]:
a.sort()

In [87]:
print(a)

[1, 2, 3, 4]

In [88]:
a = ['abc', '123', 'you need python']

In [89]:
a.sort()

In [90]:
print(a)

['123', 'abc', 'you need python']

In [91]:
a = ['abc', 123, 'you need python']

In [92]:
a.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

- 숫자형 요소와 문자열 요소가 합쳐진 경우 정렬되지 않음

In [93]:
a = ['abc', '123', 'You need python']

In [94]:
a.sort()

In [95]:
print(a)

['123', 'You need python', 'abc']

- 대문자가 포함된 문자열 있을 경우 대문자가 소문자보다 먼저 정렬됨

리스트 뒤집기 예제

In [96]:
a = ['a', 'c', 'b']

In [97]:
a.reverse()

In [98]:
print(a)

['b', 'c', 'a']

리스트 요소 찾기 예제

In [99]:
a = [1, 2, 3]

In [101]:
a.index(3)

2

In [105]:
a.index(1)

0

In [106]:
a.index(0)

ValueError: 0 is not in list

리스트 요소 삽입 예제

In [1]:
a = [1, 2 ,3]

In [2]:
a.insert(0, 4)

In [3]:
print(a)

[4, 1, 2, 3]

In [111]:
a.insert(3, 5)

In [112]:
print(a)

[4, 1, 2, 5, 3]

In [113]:
a.insert(0, ['a', 'b'])

In [114]:
print(a)

[['a', 'b'], 4, 1, 2, 5, 3]

리스트 요소 제거 예제

In [117]:
a = [1, 2, 3, 1, 2, 3]

In [118]:
a.remove(3)

In [119]:
print(a)

[1, 2, 1, 2, 3]

In [120]:
a.remove(3)

In [121]:
print(a)

[1, 2, 1, 2]

리스트 요소 끄집어내기 예제

In [122]:
a = [1, 2, 3]

In [123]:
a.pop()

3

In [124]:
print(a)

[1, 2]

In [125]:
a = [1, 2, 3]

In [126]:
a.pop(1)

2

In [127]:
print(a)

[1, 3]

리스트 갯수 세기 예제

In [128]:
a = [1, 2, 3, 1]

In [129]:
a.count(1)

2

리스트 확장 예제

In [131]:
a = [1, 2, 3]

In [132]:
a.extend([4, 5])

In [133]:
print(a)

[1, 2, 3, 4, 5]

리스트 확장 예제 2

In [139]:
a = [1, 2, 3]

In [140]:
b = [4, 5]

In [137]:
c = a + b

In [138]:
print(c)

[1, 2, 3, 4, 5]

질문) 리스트 a에 리스트 b를 넣어서 확장이 되는지의 여부

In [141]:
a = [1, 2, 3]
b = [4, 5]

In [142]:
a.extend(b)

In [143]:
print(a)

[1, 2, 3, 4, 5]

**61page 1번째 줄 글자 깨짐 -> 튜플**

튜플 생성 예제

In [144]:
t1 = ()

In [145]:
print(t1)

()

In [152]:
print(type(t1))

<class 'tuple'>

In [149]:
t2 = (1)

In [150]:
print(t2)

1

In [151]:
print(type(t2))

<class 'int'>

In [153]:
t2 = (1,)

In [154]:
print(t2)

(1,)

In [155]:
print(type(t2))

<class 'tuple'>

In [156]:
t3 = (1, 2, 3)

In [157]:
print(t3)

(1, 2, 3)

In [158]:
t4 = 1, 2, 3

In [159]:
print(t4)

(1, 2, 3)

In [160]:
t5 = ('a', 'b', ('ab', 'cd'))

In [161]:
print(t5)

('a', 'b', ('ab', 'cd'))

In [162]:
t6 = (1, 2, [3, 4])

In [163]:
print(t6)

(1, 2, [3, 4])

튜플
- 튜플은 요소를 지우거나 변경 불가 -> 안전하고 빠르게 사용
- 튜플 안에 리스트가 포함될 수 있으나 많이 사용하지 않음
- 리스트 안에 튜플을 넣어서 사용하는 경우는 많음
 - 리스트 안에서도 바뀌지 않는 요소가 있어야 하기 때문

튜플 요소 제거 예제

In [164]:
t1 = (1, 2, 'a', 'b')

In [165]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [166]:
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

튜플 인덱싱 예제

In [167]:
t1 = (1, 2, 'a', 'b')

In [168]:
print(t1[0])

1

In [169]:
print(t1[3])

b

튜플 슬라이싱 예제

In [170]:
t1 = (1, 2, 'a', 'b')

In [171]:
print(t1[1:])

(2, 'a', 'b')

튜플 더하기 예제

In [173]:
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)

In [174]:
print(t1 + t2)

(1, 2, 'a', 'b', 3, 4)

In [175]:
t3 = t1 + t2

In [176]:
print(t3)

(1, 2, 'a', 'b', 3, 4)

- 튜플을 더해서 새로운 튜플 만들기 가능

튜플 곱하기 예제

In [177]:
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)

In [178]:
print(t2 * 3)

(3, 4, 3, 4, 3, 4)

In [179]:
t4 = t2 * 3

In [180]:
print(t4)

(3, 4, 3, 4, 3, 4)

- 튜플을 곱해서 새로운 튜플 만들기 가능

튜플 길이 구하기 예제

In [181]:
t1 = (1, 2, 'a', 'b')

In [182]:
print(len(t1))

4

튜플의 패킹과 언패킹
- 패킹 : 한 데이터에 여러 개의 데이터를 넣는 것
 - 실습을 통해 만들어 본 리스트, 튜플 자료형이 패킹에 속함
- 언패킹 : 한 데이터에서 데이터를 각각 꺼내오는 것
 - 튜플과 리스트 둘 다 패킹, 언패킹 가능

언패킹 예제

In [188]:
T = (1, 2, 3, 4, 5)

In [189]:
a, b, c, d, e = T

In [190]:
print(a, b, c, d, e)

1 2 3 4 5

In [184]:
a, *b = T

In [185]:
print(a, b)

1 [2, 3, 4, 5]

In [192]:
a, b, *c = T

In [193]:
print(a, b, c)

1 2 [3, 4, 5]

In [194]:
print(type(c))

<class 'list'>

In [195]:
L = [1, 2, 3, 4, 5]

In [196]:
a, b, c, d, e = L

In [197]:
print(a, b, c, d, e)

1 2 3 4 5

리스트 -> 튜플 변경 예제

In [204]:
L = [1, 2, 3, 4, 5]

In [205]:
T = tuple(L)

In [206]:
print(T)

(1, 2, 3, 4, 5)

튜플 -> 리스트 변경 예제

In [207]:
T = (1, 2, 3, 4, 5)

In [208]:
L = list(T)

In [209]:
print(L)

[1, 2, 3, 4, 5]

딕셔너리
- 사전
- key:value 형식으로 이루어진 자료형

딕셔너리 생성 예제

In [210]:
dic = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}

In [211]:
print(dic)

{'name': 'pey', 'phone': '0119993323', 'birth': '1118'}

In [212]:
a = {1:'hi'}

In [213]:
print(a)

{1: 'hi'}

In [214]:
a = {'a':[1, 2, 3]}

In [215]:
print(a)

{'a': [1, 2, 3]}

딕셔너리 키,값 추가 예제

In [216]:
a = {1:'a'}

In [217]:
a[2] = 'b'

In [218]:
print(a)

{1: 'a', 2: 'b'}

In [220]:
a['name'] = 'pey'

In [221]:
print(a)

{1: 'a', 2: 'b', 'name': 'pey'}

In [222]:
a[3] = [1, 2, 3]

In [223]:
print(a)

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

함수를 만들어서 키와 값으로 활용하기 예제

In [224]:
def add(a, b):
    return a+b
def sub(a, b):
    return a-b

action = {0:add, 1:sub}

In [225]:
action[0](4,5)

9

- 0번 키를 호출, 값에 4, 5를 대입한 결과 출력

딕셔너리를 만드는 다른 방법(함수)

In [276]:
a = dict(one=1, two=2)

In [227]:
print(a)

{'one': 1, 'two': 2}

In [277]:
a1 = dict(1=one, two=2)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (Temp/ipykernel_13464/567782305.py, line 1)

- dict() 함수는 '키워드 인수'를 사용하기 때문에 키가 문자열일 경우 동작

In [231]:
b = dict([('one',1),('two',2)])

In [232]:
print(b)

{'one': 1, 'two': 2}

In [233]:
c = dict([['one',1],['two',2]])

In [234]:
print(c)

{'one': 1, 'two': 2}

In [237]:
keys = ['one', 'two', 'three']
values = (1, 2, 3)
zip(keys, values)
d = dict(zip(keys, values))

In [238]:
print(d)

{'one': 1, 'two': 2, 'three': 3}

딕셔너리에서 키 제거 예제

In [239]:
a = {1:'a', 2:'b', 'name':'pey', 3:[1, 2, 3]}

In [240]:
print(a)

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [241]:
del a[1]

In [242]:
print(a)

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

딕셔너리에서 키를 이용하여 값을 얻기 예제

In [243]:
a = {1:'a', 2:'b'}

In [245]:
print(a[1])

a

In [246]:
print(a[2])

b

키 리스트 만들기 예제

In [247]:
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}

In [248]:
print(a.keys())

dict_keys(['name', 'phone', 'birth'])

In [249]:
print(type(a.keys()))

<class 'dict_keys'>

In [250]:
list(a.keys())

['name', 'phone', 'birth']

In [251]:
for k in a.keys():
    print(k)

name
phone
birth

값 리스트 만들기 예제

In [252]:
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}

In [255]:
print(a.values())

dict_values(['pey', '0119993323', '1118'])

키, 값 쌍 얻기 예제

In [254]:
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}

In [256]:
print(a.items())

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

딕셔너리 모두 지우기 예제

In [257]:
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}

In [258]:
a.clear()

In [259]:
print(a)

{}

키를 이용하여 값 출력하기 예제(get())

In [260]:
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}

In [262]:
print(a.get('name'))

pey

In [263]:
print(a.get('phone'))

0119993323

get() 함수 사용과 미사용 차이 예제

In [264]:
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}

In [265]:
print(a.get('nokey'))

None

In [266]:
print(a['nokey'])

KeyError: 'nokey'

딕셔너리 안에 키가 없는 경우 정해둔 값을 가져오기 예제

In [267]:
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}

In [268]:
print(a.get('foo'))

None

In [269]:
print(a.get('foo', 'bar'))

bar

해당 키의 존재 유무 예제

In [271]:
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}

In [272]:
print('name' in a)

True

In [273]:
print('email' in a)

False

집합
- 여러 값을 순서 없이 그리고 중복 없이 모아 놓은 자료형

집합 생성 예제

In [278]:
s1 = set([1, 2, 3])

In [279]:
print(s1)

{1, 2, 3}

In [280]:
s2 = set("Hello")

In [282]:
print(s2)

{'l', 'o', 'e', 'H'}

In [283]:
s3 = set((1, 2, 3))

In [284]:
print(s3)

{1, 2, 3}

교집합 예제

In [290]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [291]:
print(s1 & s2)

{4, 5, 6}

In [292]:
print(s1.intersection(s2))

{4, 5, 6}

합집합 예제

In [293]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [294]:
print(s1 | s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [295]:
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

차집합 예제

In [296]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [297]:
print(s1 - s2)

{1, 2, 3}

In [298]:
print(s1.difference(s2))

{1, 2, 3}

In [299]:
print(s2 - s1)

{8, 9, 7}

In [300]:
print(s2.difference(s1))

{8, 9, 7}

집합에 값 1개 추가하기 예제

In [301]:
s1 = set([1, 2, 3])

In [302]:
s1.add(4)

In [303]:
print(s1)

{1, 2, 3, 4}

집합에 값 여러 개 추가하기 예제

In [304]:
s1 = set([1, 2, 3])

In [305]:
s1.update([4, 5, 6])

In [306]:
print(s1)

{1, 2, 3, 4, 5, 6}

집합에 특정 값 제거 예제

In [308]:
s1 = set([1, 2, 3])

In [309]:
s1.remove(2)

In [310]:
print(s1)

{1, 3}

논리 연산자와 비교 연산자를 함께 사용하기 예제
- 논리 연산자를 기호로 사용할 경우 묶어서 사용해야 함

In [311]:
print(10 == 10)

True

In [312]:
print(10 != 5)

True

In [313]:
print(10 == 10 and 10 != 5)

True

- 둘 다 참이기 때문에 참이라는 결과가 출력

In [315]:
print(10 == 10 and 10 <= 5)

False

- and 연산자는 하나라도 거짓이면 거짓을 출력

In [323]:
print(10 > 5 or 10 < 3)

True

- or 연산자는 하나라도 참이면 참을 출력

In [317]:
print(not 10 < 5)

True

- not 연산자는 결과를 반대로 출력

In [318]:
if 10 == 10 and 10 != 5:
    print("hello")

hello

# 제어문

if문 예제

In [327]:
money = True
if money:
    print("택시를 타고 가라")
else:
    print("걸어 가라")

택시를 타고 가라

pass 예제

In [328]:
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket:
    pass
else:
    print("카드를 꺼내라")

pass 응용 예제

In [332]:
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket:
    print("현금을 꺼내라")
    pass
    print("종이를 꺼내라")
else:
    print("카드를 꺼내라")

현금을 꺼내라
종이를 꺼내라

- 코드 중간에 pass 구문이 있어도 전체 코드가 실행됨

elif 구문 예제(if, else만 사용)

In [334]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
    print("택시를 타고 가라")
else:
    if card:
        print("택시를 타고 가라")
    else:
        print("걸어가라")

택시를 타고 가라

In [335]:
pocket = ['paper', 'card', 'cellphone']
if 'money' in pocket:
    print("택시를 타고 가라")
else:
    if 'card' in pocket:
        print("택시를 타고 가라")
    else:
        print("걸어가라")

택시를 타고 가라

In [340]:
wallet = 'card'
pocket = ['paper', wallet, 'cellphone']
if 'money' in pocket:
    print("택시를 타고 가라")
else:
    if 'card' in pocket:
        print("택시를 타고 가라")
    else:
        print("걸어가라")

택시를 타고 가라

elif 구문 예제

In [346]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
    print("택시를 타고 가라")
elif card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [348]:
del(card)

In [351]:
pocket = ['paper', 'card', 'cellphone']
if 'money' in pocket:
    print("택시를 타고 가라")
elif card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

NameError: name 'card' is not defined

변수에는 값이 저장<br>
'문자열'<br><br>
A = 1 => A : 변수<br>
'A' => A : 문자열
- 문자열은 기본적으로 True

In [352]:
pocket = ['paper', 'card', 'cellphone']
if 'money' in pocket:
    print("택시를 타고 가라")
elif 'card':
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

if문 한 줄 구조로 만들기 예제(만들기 전 기존 구조)

In [353]:
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket:
    pass
else:
    print("카드를 꺼내라")

if문 한 줄 구조로 만들기 예제

In [354]:
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket: pass
else: print("카드를 꺼내라")

while문 예제

In [355]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit + 1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

while문 예제(break)

In [357]:
coffee = 10
money = 300
while money:
    money = money - 10
    print("남은 돈은 %d입니다." % money)
    print("돈을 받았으니 커피를 줍니다.")
    coffee = coffee -1
    print("남은 커피의 양은 %d입니다." % coffee)
    if not coffee:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

남은 돈은 290입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9입니다.
남은 돈은 280입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8입니다.
남은 돈은 270입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7입니다.
남은 돈은 260입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6입니다.
남은 돈은 250입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5입니다.
남은 돈은 240입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4입니다.
남은 돈은 230입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3입니다.
남은 돈은 220입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2입니다.
남은 돈은 210입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1입니다.
남은 돈은 200입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

자료형 별 참, 거짓 판별 예제

In [358]:
if [1, 2, 3]:
    print("true")

true

In [359]:
if {'key':'value'}:
    print("true")

true

In [360]:
if 200:
    print("true")

true

In [361]:
if 'card':
    print("true")

true

In [ ]:
if []:
    print("true")

In [365]:
if '':
    print("true")

In [362]:
if False:
    print("true")

In [363]:
if 0:
    print("true")

while문 예제(continue)

In [368]:
a = 0
while a < 10:
    a = a + 1
    if a % 2 == 0:
        continue
    print(a)

1
3
5
7
9

for문 예제

In [369]:
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

for문 변형 예제

In [370]:
test_list = ['one', 'two', 'three']
for i in test_list:
    print("say")
    print("hello")

say
hello
say
hello
say
hello

- 변수 i 를 활용하지 않아도 리스트 안에 요소가 다 소모될 때까지 반복문은 계속 진행됨

for 문 응용 예제

In [372]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number + 1
    if mark >= 60:
        print("%d번 학생은 합격입니다." % number)
    else:
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

for 문 예제(continue)

In [373]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number + 1
    if mark < 60:
        continue
    print("%d번 학생은 합격입니다." % number)

1번 학생은 합격입니다.
3번 학생은 합격입니다.
5번 학생은 합격입니다.

In [375]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number + 1
    if mark < 60:
        pass
    else:
        print("%d번 학생은 합격입니다." % number)

1번 학생은 합격입니다.
3번 학생은 합격입니다.
5번 학생은 합격입니다.

range() 예제

In [376]:
a = range(10)

In [377]:
print(a)

range(0, 10)

In [378]:
print(list(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [379]:
a = range(1, 11)

In [380]:
print(list(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

range()를 이용한 for 문 예제

In [382]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다." % (number + 1))

1번 학생 축하합니다. 합격입니다
3번 학생 축하합니다. 합격입니다
5번 학생 축하합니다. 합격입니다

In [ ]:
marks = [90, 25, 67, 45, 80]
passed = []
for i in range(len(marks)):
    if marks[i]>=60:
        passed.append(i+1)
a = ",".join(str(_) for _ in passed)
print(a,'번 학생 축하합니다. 합격입니다')