for 문 실습 예제(range)

In [1]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i * j)
    print(' ')  # 줄바꿈

2
4
6
8
10
12
14
16
18

3
6
9
12
15
18
21
24
27

4
8
12
16
20
24
28
32
36

5
10
15
20
25
30
35
40
45

6
12
18
24
30
36
42
48
54

7
14
21
28
35
42
49
56
63

8
16
24
32
40
48
56
64
72

9
18
27
36
45
54
63
72
81

In [2]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i * j, end = " ")
    print(' ')  # 줄바꿈

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

7 * 7 에서 stop 하는 경우

In [19]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i * j, end = " ")
        if i == 7 and j ==7:
            break
    print(' ')  # 줄바꿈
    if i == 7:
        break

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49

In [33]:
def func():
    for i in range(2, 10):
        for j in range(1, 10):
            print(i * j, end = " ")
            if (i*j == 49):
                return
        print(" ")

func()

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49

리스트 안에 for 문 포함하기 예제

In [3]:
a = [1, 2, 3, 4]
result = []
for num in a:
    result.append(num * 3)
print(result)

[3, 6, 9, 12]

In [4]:
a = [1, 2, 3, 4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

리스트 안에 for 문 포함하기 예제(if 조건문)

In [5]:
a = [1, 2, 3, 4]
result = []
for num in a:
    if num % 2 == 0:
        result.append(num * 3)
print(result)

[6, 12]

In [6]:
a = [1, 2, 3, 4]
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

for 문에서 if, else 한 줄에 포함하기 예제

In [9]:
a = [1, 2, 3, 4]
result = [num * 3 for num in a if num % 2 == 0]
result2 = [num * 4 for num in a if num % 2 == 1]
print(result)
print(result2)

[6, 12]
[4, 12]

In [11]:
a = [1, 2, 3, 4]
result = [num * 3 if num > 1 else 0 for num in a]
print(result)

[0, 6, 9, 12]

- if ~ else 구문을 for 문과 함께 한 줄에 포함시키기 위해서는 for 문 앞에 위치해야 함

In [12]:
a = [1, 2, 3, 4]
result = [num * 3 for num in a if num > 1 else 0 ]
print(result)

SyntaxError: invalid syntax (Temp/ipykernel_724/646368476.py, line 2)

# 함수
- 함수는 반복적으로 사용하기 위해서 생성
- 코드의 일정부분이 별도의 논리적 개념으로 분리되는 것이 가능할 때, 함수로 코드를 분리
 - return 키워드는 계산한 결과값을 함수를 호출할 곳으로 돌려주는 역할

함수 만들기 예제

In [34]:
def sum(a, b):
    a + b

In [35]:
sum(1, 2)

In [36]:
print(sum(1, 2))

None

In [37]:
def sum2(a, b):
    return a + b

In [38]:
sum2(1, 2)

3

In [40]:
print(sum2(1, 2))

3

return
- return 없이 함수를 정의하면 함수를 호출한 측에 아무 값도 전달하지 않음
 - None 객체를 전달
  - None 객체란 파이썬 내장 객체로써 아무 값도 없음을 표현하는 객체

함수 만들기 예제2

In [50]:
def add(a, b):
    return a + b

In [51]:
def addabs(a, b):
    c = add(a, b)
    return abs(c)

In [52]:
addabs(-3, -7)

10

- 함수는 다른 함수를 호출할 수 있음

함수 만들기 예제3

In [53]:
def swap(a, b):
    return b, a

In [54]:
swap(10, 20)

(20, 10)

In [59]:
print(type(swap(10, 20)))

<class 'tuple'>

- return 문에 여러 값을 사용할 경우, 튜플로 구성하여 전달

결과값을 받을 변수 = 함수명(입력 인자1, 입력 인자2)

In [61]:
a = addabs(-3, -7)
print(a)

10

입력값이 없고 결과값이 있는 함수 예제

In [73]:
def say():
    return "hi"

In [74]:
say()

'hi'

In [65]:
a = say()
print(a)

hi

입력값이 있고 결과값이 없는 함수 예제

In [66]:
def sum(a, b):
    print("%d와 %d의 합은 %d입니다." % (a, b, a + b))

In [67]:
sum(3, 4)

3와 4의 합은 7입니다.

In [69]:
a = sum(3, 4)
print(a)

3와 4의 합은 7입니다.
None

- sum() 함수를 호출 할 시 결과가 출력되나 결과값이 있는 것은 아님(return이 없기 때문)

입력값이 없고 결과값이 없는 함수 예제

In [70]:
def say():
    print("Hi")

In [71]:
say()

Hi

In [72]:
a = say()
print(a)

Hi
None

매개변수 지정하여 호출하기 예제

In [81]:
def sum(a, b):
    return a + b

In [82]:
sum(a = 3, b = 7)

10

In [83]:
print(sum(a = 3, b = 7))

10

In [84]:
print(sum(b = 5, a = 3))

8

- 키워드 인수라고 부르기도 함
 - 키워드 인수 : 인수 이름으로 값을 전달하는 방식, 보통은 인수의 순서로 값을 나타내지만 이름으로 값을 전달하는 방식

In [85]:
sum(20, b = 5)

25

In [1]:
sum(b = 5, 20)

SyntaxError: positional argument follows keyword argument (Temp/ipykernel_8324/1197278764.py, line 1)

In [2]:
sum(a = 5, 20)

SyntaxError: positional argument follows keyword argument (Temp/ipykernel_8324/737711539.py, line 1)

- 일반적으로 함수를 호출할 때 키워드 인수의 위치는 보통 인수의 이후에 위치해야 함
- 순서에 맞게 키워드 인수를 앞에 사용해도 에러 발생

**113page 5번째 줄 글자 깨짐 -> 매개변수명**

가변 길이 인수 리스트(*매개변수)
- 고정되지 않은 수의 인수를 함수에 전달하는 방식
 - 함수를 정의할 때 인수 목록에 반드시 넘겨야 하는 고정 인수를 우선 나열하고, 나머지를 튜플 형식으로 한꺼번에 받는 방식

가변 길이 인수 리스트 예제

In [90]:
def varilen(a, *b):
    print(a, b)

In [91]:
varilen(1)
varilen(1, 2)
varilen(1, 2, 3)
varilen(1, 2, 3, 4)

1 ()
1 (2,)
1 (2, 3)
1 (2, 3, 4)

In [98]:
def printf(a, *b):
    print("첫번째 인수 :", a)
    for c in b:
        print("나머지 인수 :", c)

In [100]:
printf(1, 2, 3, 4, 5, 6, 7, 8, 9)

첫번째 인수 : 1
나머지 인수 : 2
나머지 인수 : 3
나머지 인수 : 4
나머지 인수 : 5
나머지 인수 : 6
나머지 인수 : 7
나머지 인수 : 8
나머지 인수 : 9

In [141]:
def h(a, b, *c):
    print(a, b, c)
args = (1, 2, 3, 4, 5)

In [142]:
h(1, 2, 3, 4, 5)

1 2 (3, 4, 5)

In [145]:
h(*args)

1 2 (3, 4, 5)

- 함수를 정의할 시 가변 길이 인수 리스트를 매개변수로 받을 경우 함수를 호출할 때 받는 인자 또한 가변 길이 인수 리스트라는 것을 명시해줘야 함

**매개변수
- 함수 호출에 사용하는 인수들이 사전에 있다면 **을 이용하여 함수를 호출할 수 있음

In [161]:
def h(a, b, c, f):
    print(a, b, c, f)

In [162]:
dicargs = {'a':1, 'b':2, 'c':3, 'f':4}

In [163]:
h(**dicargs)

1 2 3 4

- **매개변수의 핵심 요소
1. 사전과 관련이 있음
2. 함수에서 키와 같은 매개변수를 받음
3. **매개변수를 이용하여 사전을 호출할 경우 각 키에 매칭되는 값들이 매칭됨

**매개변수 추가 코드

In [172]:
def dic_1(**dic):
    print(dic.items())
    for key, value in dic.items():
        print("{0} = {1}".format(key, value))

In [175]:
dic = {"name":"홍길동", "나이":"20"}
dic_1(**dic)

dict_items([('name', '홍길동'), ('나이', '20')])
name = 홍길동
나이 = 20

return 예제(return으로 결과값을 두 개 반환하는 경우)

In [164]:
def sum_and_mul(a, b):
    return a+b, a*b

In [165]:
result = sum_and_mul(3, 4)

In [166]:
print(result)

(7, 12)

In [167]:
sum, mul = sum_and_mul(3, 4)

In [168]:
print(sum)
print(mul)

7
12

return 예제(return을 두 줄로 나눠 입력한 후 결과값을 두 개 반환하는 경우)

In [169]:
def sum_and_mul(a, b):
    return a + b
    return a * b

In [170]:
result = sum_and_mul(2, 3)

In [171]:
print(result)

5

- return을 사용할 경우 한 줄에 입력해야 함

return 예제(return을 단독으로 사용하여 함수를 빠져나올 경우)

In [182]:
def say_nick(nick):
    if nick == "바보":
        return
    print("나의 별명은 %s입니다." % nick)

In [183]:
say_nick("바보")

In [184]:
print(say_nick("바보"))

None

In [185]:
say_nick("야호")

나의 별명은 야호입니다.

매개 변수에 초깃값 미리 설정하기 예제

In [186]:
def say_myself(name, old, man=True):
    print("나의 이름은 %s입니다." % name)
    print("나이는 %d입니다." % old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [188]:
say_myself("오규석", 20)

나의 이름은 오규석입니다.
나이는 20입니다.
남자입니다.

In [189]:
say_myself("오규석", 20, True)

나의 이름은 오규석입니다.
나이는 20입니다.
남자입니다.

In [190]:
say_myself("오규석", 20, False)

나의 이름은 오규석입니다.
나이는 20입니다.
여자입니다.

**120page 12번째 줄 글자 깨짐 -> 초깃값을**

매개 변수에 초깃값 미리 설정하기 예제(중간에 미리 설정했을 경우)

In [192]:
def say_myself(name, man=True, old):
    print("나의 이름은 %s입니다." % name)
    print("나이는 %d입니다." % old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

SyntaxError: non-default argument follows default argument (Temp/ipykernel_724/303328876.py, line 1)

- 매개 변수에 초깃값을 미리 설정하고 싶은 경우 매개 변수 마지막에 설정해줘야 함

질문) 매개 변수의 초깃값을 두 개 설정 가능한 지의 여부

In [193]:
def say_myself(name, old=20, man=True):
    print("나의 이름은 %s입니다." % name)
    print("나이는 %d입니다." % old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [194]:
say_myself("오규석")

나의 이름은 오규석입니다.
나이는 20입니다.
남자입니다.

- 매개 변수에 초깃값을 2개 이상 미리 설정하고 싶은 경우에도 매개 변수 마지막에 설정해줘야 함

변수의 유효범위
- 변수가 어느 범위에서 유효한지를 나타냄
 - 변수가 함수 내에서 정의되면 함수의 지역 변수(local) 변수가 됨
 - 변수가 함수 밖에서 정의되면 전역(global) 변수가 됨
- 전역 변수 : 함수 외부에서 정의된 변수, 코드 모든 범위에서 사용 가능
- 지역 변수 : 함수 내부에서 정의된 변수, 해당 정의된 함수에서만 사용 가능
- 호출 순서 : 지역 변수 -> 전역 변수

변수의 호출 순서 예제(지역 변수가 있는 경우)

In [195]:
str = 'global variable'

def func_1():
    str = 'local variable'
    print(str)

In [196]:
func_1()

local variable

In [197]:
print(str)

global variable

In [209]:
str = 'global variable'

def func_1():
    str = 'local variable'
    return str
    print(str)

In [210]:
func_1()

'local variable'

In [206]:
print(str)

global variable

함수 안에서 함수 밖의 변수를 변경하는 방법(첫번째)

In [215]:
a = 1
def vartest(a):
    a = a + 1
    return a

In [216]:
a = vartest(a)
print(a)

2

In [208]:
# b = vartest(a)
# print(a)
# print(b)

1
2

4